@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report</h2>


First Stage -
<div class="imgHolder">
<img class="img" src="http://d3mj096p5q0e20.cloudfront.net/fi/HCM/6/056126A.jpg" alt=""/>
<div class="overlay"></div>
<div class="addMoreBtn"></div>
</div>

<br>
Second Stage -   
<div class="imgHolder second">
<img class="img" src="http://d3mj096p5q0e20.cloudfront.net/fi/HCM/6/056126A.jpg" alt=""/>
<!--div class="overlay"></div-->
<div class="addMoreBtn">
    <div><input type="checkbox" >Please Tick</input></div>
</div>
</div>
    
    <br>
    
Third Stage -
<div class="imgHolder hoverOverlay">
<img class="img" src="http://d3mj096p5q0e20.cloudfront.net/fi/HCM/6/056126A.jpg" alt=""/>
<div class="addMoreBtn">
    <div><input type="checkbox">Please Tick</input></div>
</div>
</div>