@model Clarifi.Imaging.Host.Models.ReportSummary

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
        <h1>Image Mapping</h1>
        <h2>Report</h2>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#CatCompleted" aria-controls="CatCompleted" role="tab" data-toggle="pill">
                    Categories Completed
                </a>
            </li>
            <li role="presentation" class="">
                <a href="#UserPerformance" aria-controls="UserPerformance" role="tab" data-toggle="tab">
                    User Performance
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="CatCompleted">

                <br />

                <input type="text" class="jsCatCompleted" />

                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Category</th>
                            <th>Progress</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#foreach CategoryReports}}
                        <tr>
                            <td>{{this.Id}}</td>
                            <td>{{this.Name}}</td>
                            <td>{{this.TotalImages}}/{{this.ProcessedImages}}</td>
                            <td>{{this.LastUpdatedOn}}</td>
                            <td><button type="button">Start Reveiw</button></td>
                        </tr>
                        {{/foreach}}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="UserPerformance">
                <br />
                <input type="text" class="jsUserReport" />
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Category</th>
                            <th>Progress</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#foreach UserReports}}
                        <tr>
                            <td>{{this.Id}}</td>
                            <td>{{this.Name}}</td>
                            <td>{{this.TotalImages}}/{{this.ProcessedImages}}</td>
                            <td>{{this.LastUpdatedOn}}</td>
                            <td><button type="button">Start Reveiw</button></td>
                        </tr>
                        {{/foreach}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

@section scripts
{
    <script type="text/javascript">
        var ImageReportView = ImageReportView || {};
        ImageReportView.initialData = @Html.Raw(ViewBag.InitialData)
        $(function () {
            var rawTmpl = $('#entry-template').html();
            var template = Handlebars.compile(rawTmpl);

            var placeHolder = $(".container");
            var obj = ImageReportView.initialData;
            var html = template(obj);
            placeHolder.append(html);
            var categories = [];

            $.each(ImageReportView.initialData.CategoryReports, function(index, val) {
                categories.push(val.Name);
            });

            $(".jsCatCompleted").autocomplete({
                source: categories,
                select: function (event, ui) {
                    console.log(event);
                    console.log(ui);
                }
            });
        });
    </script>
}